header{
    background-color: var(--cor-c12);
    margin: 0px auto;
    /* width: 100%; */
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

ul a{
color: var(--cor-w);
}

.header-nav a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    margin-top: 4px;
    background-color: var(--cor-w);
    transition: 0.3s;
}

.header-nav a:hover:after{
    width: 100%;
    transition: 0.3s;
}

nav ul{
    display: flex;
    gap: var(--space-9);
}

@media (max-width:930px){
    .header-nav{
        padding: 20px;
    }

}

@media (max-width:890px){
 .header-nav{
    padding-top: 10px;
    flex-direction: column;
    gap: 0px;
    justify-content: center;
 }

}


@media (max-width: 595px){
    .header-nav{
        padding: 0px;
    }    
}
