:root{
    --cor-p1: #ffbb00;
    --cor-p2: #e4a30b;
    --cor-p3: #a66f00;
    --cor-p4: #664400;
    --cor-p5: #332200;
    --cor-c12: #000;
    --cor-c11: #111;
    --cor-c10: #2e2e2e;
    --cor-c8: #404040;
    --cor-c8: #595959;
    --cor-c7: #717171;
    --cor-c6: #9c9c9c;
    --cor-c5: #b2b2b2;
    --cor-c4: #ccc;
    --cor-c3: #dedede;
    --cor-c2: #ededed;
    --cor-c1: #f7f7f7;
    --cor-w: #fff;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-7: 32px;
    --space-8: 36px;
    --space-9: 40px;
    --space-10: 48px;
    --space-11: 60px;
    --space-12: 72px;
    --space-13: 80px;
    --space-14: 120px;
    --space-15: 160px;
    --space-16: 200px;
}

header{
    background-color: var(--cor-c12);
    /* width: 100%; */
}

.header-nav{
    display: flex;
    height: var(--space-13);
    align-items: center;
    /* justify-content: space-between; */
    gap: 550px;
    padding: 0px var(--space-15);
}

ul a{
color: var(--cor-w);
}

.header-nav a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    margin-top: 4px;
    background-color: var(--cor-w);
}

.header-nav a:hover:after{
    width: 100%;
    transition: 0.3s;
}

nav ul{
    display: flex;
    gap: var(--space-9);
}

@media (max-width: 1470px){
    .header-nav{
        justify-content: space-between;
        gap: 0px;
    }
}

@media (max-width:890px){
 .header-nav{
    /* display: none; */
    flex-direction: column;
    gap: var(--space-2);
    justify-content: center;
 }

}

/* Estilo sobre */

.sobre-bike {
    background-color: var(--cor-c12);
    height: 680px;
    width: 100%;
    margin-bottom: var(--space-15);
}

.sobre-conteudo{
    padding: 0px var(--space-13) 0px var(--space-15);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    /* grid-template-rows: auto; */
}

.sobre-conteudo img{
    grid-column: 2;
    grid-row: 1/-1;
}

.texto-sobre{
    grid-row: 1;
    align-self: center;
}

.texto-sobre p{
    margin-bottom: var(--space-7);
    
}

.produtos-item h3{
    display: flex;
    align-items: center;
}

.produtos-item h3::before{
    content: "";
    display: inline-block;
    background-color: var(--cor-p1);
    height: 8px;
    width: 12px;
    margin-right: 8px;
}

@media (max-width: 800px){

    .sobre-bike{
        height: 550px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .bike-preta{
        display: none;
    }
    
}


/*Produtos*/

.produtos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    padding: var(--space-11);
    gap: var(--space-9);
    margin-bottom: var(--space-14);
}

.produtos h1{
    grid-column: 1/-1;
    padding-left: 100px;
}

.produtos-items{
    grid-row: 2;
}

/* Tecnologia*/

.tecnologia{
    box-shadow: inset 0px 120px var(--cor-w), inset 0px -120px var(--cor-w);
    background-color: var(--cor-c11);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 120px;
}

.tecnologia-info{
    padding-top: 160px;
    padding-bottom: 160px;
    padding-left: var(--space-15);
}

.info-tec{
    display: flex;
    gap: 40px;
}

.tecnologia-info h1,
.paragrafo-tec{
    margin-bottom: 20px;
}

.line{
    line-height: 62px;
    margin-bottom: 32px;
}

.tecnologia-info h2{
    margin-bottom: 80px;
} 

.info-tec-items{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h2.sublinhado::after{
    width: 195px;
}

/* Parceiros */

.parceirias{
    margin: 0px 100px;
    margin-bottom: 120px;
}

.parceirias h1{
    margin-left: 60px;
    margin-bottom: 60px;
}

.parceiros-item{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
}

.parceiros-item li{
    display: flex;
    padding: 32px;
    border-left: 2px solid var(--cor-c2);
}

.parceiros-item li:first-child,
.parceiros-item li:nth-child(5){
    border-left: none;
}

.parceiros-item li:nth-child(n + 5){
    border-top: 2px solid var(--cor-c2);
}

.parceiros-item  img{
    margin: auto;
}

/* Frase */

.frase{
    background-color: var(--cor-p1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 690px; */
}

.frase-item blockquote{
    color: var(--cor-p5);
}

.frase-item span{
    color: var(--cor-p4);
}

.frase-item{
    padding: 40px 40px 80px 80px;
    align-self: end;
    text-align: left;
    height: 240px;
}

.frase-item blockquote{
    max-width: 22ch;
    margin-bottom: 16px;
}

.frase img{
    height: 100%;
}

/* Seguros */

.seguro{
    background-color: var(--cor-c11);
}

.seguro-planos{
    padding: 60px 120px 0px 120px;
}

.seguro-planos h1{
    margin-bottom: 60px;
}

.tipo-plano h2{
    text-transform: uppercase;
}

.seguro-planos{
    display: grid;
    grid-template-rows: auto 1fr;
}

.planos{
    display: flex;
    gap: 40px;
}

.tipo-plano{
    display: flex;
    gap: 235px;
    margin-bottom: 32px;
}

.mensal{
    text-align: right;
}

.beneficios{
    margin-bottom: 32px;
}

.beneficios-list{
    display: grid;
    gap: 20px;
}

.beneficios-list li::before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    margin-right: 7px;
    background-image: url(../img/icones/lista.svg);
}

.planos-item{
    background-color: var(--cor-c12);
    padding: 30px 60px;
    border-radius: 5px;
    margin-bottom: 120px;
}

.plano-prata{
    box-shadow: inset 0px -90px var(--cor-c11)
}

/* Footer */

footer{
    background-color: var(--cor-c12);
}

.content-footer{
    padding:  60px var(--space-14) 80px var(--space-14);
    display: flex;
    gap: 165px;
    margin-bottom: 80px;
}

.content-footer h3{
    margin-bottom: 32px;
}

.contato-item ul li:nth-child(even):after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #111;
    margin: 16px 0px;
}

/* .contato-item ul li:nth-child(even){
    margin-bottom: 32px;
} */

.contato-item-foto ul{
    display: flex;
    gap: 25px;
}

.informacoes li{
    margin-bottom: 10px;
}

.copy{
    padding:  0px var(--space-14) 32px var(--space-14);
}