@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&display=swap');

/* Botão */

.container{
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}

.btn,
.btn-2{
    border-radius: 4px;
    display: inline-block;
    padding: 16px 32px;
    background-image: linear-gradient(to bottom, #ffbf00,#F2A50C);
    color: #332200;
    font-weight: 600;
    font-size: 1.12rem;
    font-family: 'Poppins','Arial','Roboto';
    text-transform: uppercase;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    max-width: max-content;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-image: linear-gradient(to bottom, #dea700,#c5860a);
}

.btn-2{
    background-image: linear-gradient(to bottom, #404040,#2e2e2e);
    color: #ccc;
}

.sublinhado::after{
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    margin-top: 4px;
    background-color: #ffbb00;
}

/* Cor */

.cor-b{
    background-color: #000;
}

.cor-bg{
    background-color: #111;
}

.marcacao{
    color: #ffbb00;
}

.cor-preco{
    color: #595959;
}

.cor-esp{
    color: #404040;
}

.cor-paragrafo{
    color:#b2b2b2;
}

.prata{
    color: #9c9c9c;
}

.cor-w-bgs{
    background-color: #f7f7f7;
}

.cor-w-bg{
    background-color: #fff;
}

.cor-w{
    color: #fff;    
}

/* Font Family */

.font-1{
    font-family: 'Poppins','Arial','Roboto';
}

.font-2{
    font-family: 'Roboto','Arial','Roboto';
}

.font-3{
    font-family: 'Merriweather','Poppins','Arial','Roboto';
}

/* Font Size e Weight Poppins */

.font-1-xxl{
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.125;
}

.font-1-xl{
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.125;
}

.font-1-l{
    font-weight: 400;
    font-size: 1.5rem;
}

.font-1-m{
    font-weight: 400;
    font-size: 1.12rem;
}

.font-1-m-b{
    font-weight: 600;
    font-size: 1.12rem;
}

.font-1-s{
    font-weight: 400;
    font-size: 1rem;
}

.font-1-xs{
    font-weight: 600;
    font-size: 0.75rem;
}

/* Font Size e Weight Roboto */

.font-2-l{
    font-weight: 400;
    font-size: 1.5rem;
}

.font-2-l-b{
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.font-2-m{
    font-weight: 500;
    font-size: 1.12rem;
}

.font-2-s{
    font-weight: 400;
    font-size: 1rem;
}

.font-2-xs{
    font-weight: 400;
    font-size: 0.87rem;
}